@import '../_variables';

.faq{
  margin-top: 5rem;
  text-align: center;

  &__title{
    margin-bottom: 1rem;
    color: $Very-Dark-Blue;
    font-size: 25px;
  }

  &__description{
    color: $Grayish-Blue;
    font-size: 14px;
    margin-bottom: 2rem;
  }

  &__tab{
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid $Grayish-Blue;
    &__cont{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__question{
    color: $Very-Dark-Blue;
    font-size: 16px;
  }

  &__answer{
    margin-top: 1rem;
    text-align: left;
    font-size: 16px;
    color: $Grayish-Blue;
  }

  &__arrow{

    &--close{
      transform: rotate(180deg);
      filter: invert(18%) sepia(77%) saturate(6654%) hue-rotate(1deg) brightness(97%) contrast(127%);
    }
  }

  &__button{
    margin-top: 2rem;
    color: white;
    border: none;
    background-color: $Soft-Blue;
    font-size: 18px;
    padding: 1rem 2rem;
    border-radius: 10px;
  }

  @media screen and (min-width:1000px) {
    margin: auto;
    margin-top: 8rem;
    max-width: 600px;

    &__title{
      
      font-size: 35px;
    }

    &__tab:hover{
      cursor: pointer;
    }
  
    &__tab:hover .faq__question{
      color: $Soft-Red;
    }
    &__description{
      color: $Grayish-Blue;
      font-size: 18px;
      margin-bottom: 2rem;
    }
  }
}


.hidden{
  display: none;
}