@import '../__variables';

.hero{
  margin-top: 5rem;

  &__image-container{
    position: relative;
  }

  &__image{
    width: 100%;
  }

  &__title{
    margin: 2rem 0 1rem;
    color: $Very-Dark-Blue;
    text-align: center;
  }

  &__description{
    font-size: 15px;
    padding: 0 15px;
    color: $Grayish-Blue;
    text-align: center;
  }

  &__button-container{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;

    &__chrome{
      background-color: $Soft-Blue;
      padding: .8rem 1rem;
      outline: none;
      border: none;
      border-radius: 5px;
      color: white;
      font-weight: 600;
    }

    &__firefox{
      
      padding: .8rem 1rem;
      outline: none;
      border: none;
      border-radius: 5px;
      color: $Very-Dark-Blue;
      font-weight: 600;
    }
  }

  @media screen and (min-width:1000px) {
    display: flex;
    flex-direction: row-reverse;

    &__image-container{
      position: relative;
      max-width: 600px;
    }
  
    &__title{
      margin: 2rem 0 1rem;
      color: $Very-Dark-Blue;
      text-align: left;
      font-size: 34px;
    }
  
    &__description{
      font-size: 18px;
      padding: 0;
      color: $Grayish-Blue;
      text-align: left;
    }
  
    &__info-cont{
      width: 40%;
      margin-right: auto;
      margin-top: 1.5rem;
    }

    &__button-container{
      justify-content: start
    }
  
  }


}

.blue-bg{
  @include blue-bg;
  left: 21%;
  border-radius: 80px 0 0 80px;

  @media screen and (min-width:1000px) {
    width: 100vw;
    overflow-x: hidden;
  }
}
