@import '../_variables';

.mobile-nav-container{
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width:1000px) {
    margin-top: 0;
  }
}

header{
  width: 90%;
  margin: auto;

  @media screen and (min-width:1000px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 2rem;
  }
}

.nav{
  display: none;
  

  @media screen and (min-width:1000px) {

    color: $Very-Dark-Blue;
    display: block;

    &__list{
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }

    &__logo{
      margin-top: 0;
    }


      &__hamburger-icon{
        display: none;
    
      }

    &__button{
      color:white;
      border: none;
      background: $Soft-Red;
      padding: .5rem 2rem;
      border-radius: 10px;
      text-transform: uppercase;
    }
  }
}

.nav-mobile{

  &__button{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border: 2px white solid;
    background: none;
    color: white;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    padding: .5rem 0;
    border-radius: 5px;
  }
  
  &__header{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__modal{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100svh;
    z-index: 5;
    background-color: hsla(229, 31%, 21%, 0.966);
  }

  &__container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__nav{
    width: 80%;

    &__list{
      list-style: none;
      text-align: center;
      
      &__item{
        font-size: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 1rem 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.178);

        &.first{
          border-top: 1px solid rgba(255, 255, 255, 0.178);
        }
      }
    }
  }

  &__social-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    align-self: center;
    margin-top: 10rem;
  }

}
